*{margin:0px; padding:0px; box-sizing: border-box;}
nav{height:90px;color:#fff;font-size:18px;}
.carousel-item-testimonial img{height: 200px; width: 200px;margin-left:615px; margin-top: 50px;}
.carousel-testimonial{height: 500px; width: 100%;}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}